html{
	font-size:16px;
}
body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	display:flex;
	justify-content: center;
	align-items: center;
	font-size:1em;
}

.container{
	max-width: 1200px;
	width:90%;
	display:flex;
	flex-flow: row wrap;
	justify-content:center;
	align-items:center;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.9em;
}
h2 {
	font-size: 1.1em;
}
h3 {
	font-size: 0.8em;
}

p {
	font-size: 0.9em;
	line-height: 21px;
    padding: 0 30px;
}

/*The widths are in a percentage!*/
header {
	display:flex;
	justify-content: center;
	align-items: center;
	border-bottom: 3px solid #77a466;
	width:100%;
	flex-flow: row wrap;
}

header h1 {
	width:100%;
	margin: 0;
	padding: 38px 0;
}
header h1 span {
	color: #77a466;
}

header nav {
	width:100%;
	padding: 46px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.9em;
	padding: 0 10px;
	display: inline;
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	
}

.main-image {
	
	
}
.main-image img {
	width: 100%;
	border-bottom: 3px solid #77a466;
}

.main-title {
	
	
}
.main-title h2 {
	text-align: left;
	padding: 5px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em;
	line-height: 1.6;
}

.section-one,
.section-two,
.section-three {
	width: 100%;	
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 10px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h3,
.section-three h3 {
	padding: 10px 30px;
}

.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 10px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 1.6;
}

.address {
	font-size: 1em;
	line-height: 1.5;
}

/*The widths are in a percentage!*/
footer {
	
	border-top: 3px solid #eee;
	width:100%;
	display:flex;
	flex-flow: row wrap;
	justify-content: center;
	align-items: center;
	text-align: center;
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.9em;
}

@media all and (min-width:768px){
	.bottom-section{
		justify-content:center;
		align-items: flex-start;
		border-top:#eee 1px solid;
	}

	.section-one, .section-two, .section-three{
		flex-basis: 30%;
		border-top:none;
	}

	.section-two{
		border-left: solid 1px #eee;
		border-right: #eee solid 1px;
		padding: 0 20px;
	}
}

@media all and (min-width:1200px){
	header{
		justify-content:space-between;
	}

	header nav ul{
		display:flex;
		justify-content:space-between;
	}

	header nav{
		width:40%;
	}

	header h1{
		width:30%;
		padding: 0;
		text-align:left;
		border-bottom:none;
	}
}